<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346590774221-7oqdneg4h2t52jo0hvsd2g6crs54tf8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346590774221-7oqdneg4h2t52jo0hvsd2g6crs54tf8m</string>
	<key>API_KEY</key>
	<string>AIzaSyCZSYHlW8cfrdZDYHwgu40KxzrinPq2uPw</string>
	<key>GCM_SENDER_ID</key>
	<string>346590774221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sosnovsky.myProject</string>
	<key>PROJECT_ID</key>
	<string>myproject-74704</string>
	<key>STORAGE_BUCKET</key>
	<string>myproject-74704.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346590774221:ios:876506ed70f7a3c8a0fa84</string>
</dict>
</plist>